body {
  background: #30005D ;
  padding: 0px;
  margin: 0px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}
h3{
  color:#FF5733;
  font-size : 50px;
  text-shadow: 3px 5px #FFC300;
}

input, button {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.main-div, .loggedin-div {
  width: 20%;
  margin: 0px auto;
  margin-top: 150px;
  padding: 20px;
  display: none;
  color: #D50202;
}

.main-div input {
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  padding: 15px;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.main-div input:focus {
  border: 1px solid #777;
}

.main-div button, .loggedin-div button {
  background: #5d8ffc;
  color: #fff;
  border: 1px solid #5d8ffc;
  border-radius: 5px;
  padding: 15px;
  display: block;
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.main-div button:hover, .loggedin-div button:hover {
  background: #fff;
  color: #5d8ffc;
  border: 1px solid #5d8ffc;
  cursor: pointer;
}


{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}

.pw-meter {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:350px;
  padding:20px;
  box-shadow:0px 0px 20px 5px rgba(0,0,0,0.05);

}
.pw-meter h2 {
  margin:10px 0px 30px;
  font-size:20px;
  color:#111;
  text-align:center;
}
.pw-meter .form-element {
  position:relative;
}
.pw-meter label {
  display:block;
  margin-bottom:8px;
  color:#111;
}
.pw-meter input {
  padding:8px 30px 8px 10px;
  width:100%;
  font-size:16px;
  border:1px solid #bbb;
  outline:none;
}
.pw-meter .pw-display-toggle-btn {
  position:absolute;
  right:10px;
  top:35px;
  width:20px;
  height:20px;
  text-align:center;
  line-height:20px;
  cursor:pointer;
}
.pw-meter .pw-display-toggle-btn i.fa-eye-slash {
  display:none;
}
.pw-meter .pw-display-toggle-btn.active i.fa-eye-slash {
  display:block;
}
.pw-meter .pw-display-toggle-btn.active i.fa-eye {
  display:none;
}
.pw-meter .pw-strength {
  position:relative;
  width:100%;
  height:25px;
  margin-top:-5px;
  text-align:center;
  display:none;
  background: #F9FFF4;
}
.pw-meter .pw-strength span:nth-child(1) {
  position:relative;
  font-size:20px;
  color:#D50202;
  z-index:2;
  font-weight:600;
}
.pw-meter .pw-strength span:nth-child(2) {
  position:absolute;
  top:0px;
  left:0px;
  width:0%;
  height:100%;
  border-radius:5px;
  z-index:1;
  transition:all 300ms ease-in-out;

}

.form-element form{
  margin: 5px 8px;
}
.form-element form .error-text{
  color:  #FFC0CB;
  background:  #F8D7DA;
  padding:  8px 12;
  border-radius :5px;
  color: #8B3E46; 
}
.form-element form .error-text.match{
  background: #D4EDDA;
  color: #588C64;
  border-color: #C3EE6CB;
}
form #button1 {       
  width: 100%;
  height: 45px;
  margin: 3px 0 10px 0;
  border: none;
  background:  #27ae60;
  border-radius: 5px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  font-size:  18px;
  transition: all 0.3s;

}
